#########################################################
## Elexis-Environment secrets
## Passwords, API keys and tokens
## Copy to .env.secrets and fill in the values
#########################################################

#########################################################
## 1) REQUIRED - internal elexis-environment settings
#########################################################

# The admin password for all services
ADMIN_PASSWORD=ask-user
# The users APIKEY for mis.medelexis.ch
MIS_APIKEY=ask-user

#########################################################
## 2) REQUIRED - provided external services
#########################################################

# Elexis Database password (if ENABLE_ELEXIS_SERVER)
RDBMS_ELEXIS_PASSWORD=ask-user

# Bookstack Database password (if ENABLE_BOOKSTACK)
RDBMS_BOOKSTACK_PASSWORD=ask-user

# Nextcloud Database password (if ENABLE_NEXTCLOUD)
RDBMS_NEXTCLOUD_PASSWORD=ask-user

#########################################################
## 4) CONDITIONALLY REQUIRED
#########################################################

# S3 Access Key Secret for Nextcloud (if ENABLE_NEXTCLOUD)
NEXTCLOUD_S3_ACCESS_KEY_SECRET=optional_not_set

# S3 Access Key Secret for Matrix (if ENABLE_MATRIX)
MATRIX_S3_ACCESS_KEY_SECRET=optional_not_set

#########################################################
## 5) OPTIONAL
#########################################################

# Shared secret to create/refresh https cert using certbot
EE_TOOLS_CERTBOT_SHARED_SECRET=optional_not_set
# gitlab.medelexis.ch/elexis-web/web-docker deploy token,
# only active after setup configure
EE_GITLAB_WEB_DOCKER_DEPLOY_TOKEN=optional_not_set

# Redmine API Key (if ENABLE_ELEXIS_SERVER)
REDMINE_APIKEY=optional_not_set

#########################################################
# DO NOT MODIFY - INTERNAL USE
## value set by system on ee-cli setup configure
#########################################################
X_EE_ELEXIS_WEB_API_APP_KEY=optional_not_set
X_EE_SOLR_ADMIN_PASSWORD_HASH=optional_not_set
X_EE_SOLR_ELEXIS_SERVER_PASSWORD=optional_not_set
X_EE_RDBMS_KEYCLOAK_PASSWORD=optional_not_set
X_EE_RDBMS_GUACAMOLE_PASSWORD=optional_not_set
X_EE_S3_ACCESS_KEY_SECRET=optional_not_set
