docker/compose/assets/web/ssl/myserver.*
docker/compose/assets/web/ssl/dhparam.pem
docker/compose/assets/ldap/bootstrap.ldif
**/certificate.crt
**/certificate.key
docker/compose/assets/keycloak/realm.json
.env
.DS_Store
