@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url('/b_pub/fonts/Roboto-Thin.eot');
    src: local('☺'),
    url('/b_pub/fonts/Roboto-Thin.woff2') format('woff2'),
    url('/b_pub/fonts/Roboto-Thin.woff') format('woff'),
    url('/b_pub/fonts/Roboto-Thin.ttf') format('truetype'),
    url('/b_pub/fonts/Roboto-Thin.svg') format('svg');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url('/b_pub/fonts/Roboto-ThinItalic.eot');
    src: local('☺'),
    url('/b_pub/fonts/Roboto-ThinItalic.woff2') format('woff2'),
    url('/b_pub/fonts/Roboto-ThinItalic.woff') format('woff'),
    url('/b_pub/fonts/Roboto-ThinItalic.ttf') format('truetype'),
    url('/b_pub/fonts/Roboto-ThinItalic.svg') format('svg');
    font-weight: 100;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url('/b_pub/fonts/Roboto-Light.eot');
    src: local('☺'),
    url('/b_pub/fonts/Roboto-Light.woff2') format('woff2'),
    url('/b_pub/fonts/Roboto-Light.woff') format('woff'),
    url('/b_pub/fonts/Roboto-Light.ttf') format('truetype'),
    url('/b_pub/fonts/Roboto-Light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url('/b_pub/fonts/Roboto-LightItalic.eot');
    src: local('☺'),
    url('/b_pub/fonts/Roboto-LightItalic.woff2') format('woff2'),
    url('/b_pub/fonts/Roboto-LightItalic.woff') format('woff'),
    url('/b_pub/fonts/Roboto-LightItalic.ttf') format('truetype'),
    url('/b_pub/fonts/Roboto-LightItalic.svg') format('svg');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url('/b_pub/fonts/Roboto-Regular.eot');
    src: local('☺'),
    url('/b_pub/fonts/Roboto-Regular.woff2') format('woff2'),
    url('/b_pub/fonts/Roboto-Regular.woff') format('woff'),
    url('/b_pub/fonts/Roboto-Regular.ttf') format('truetype'),
    url('/b_pub/fonts/Roboto-Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url('/b_pub/fonts/Roboto-Italic.eot');
    src: local('☺'),
    url('/b_pub/fonts/Roboto-Italic.woff2') format('woff2'),
    url('/b_pub/fonts/Roboto-Italic.woff') format('woff'),
    url('/b_pub/fonts/Roboto-Italic.ttf') format('truetype'),
    url('/b_pub/fonts/Roboto-Italic.svg') format('svg');
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url('/b_pub/fonts/Roboto-Bold.eot');
    src: local('☺'),
    url('/b_pub/fonts/Roboto-Bold.woff2') format('woff2'),
    url('/b_pub/fonts/Roboto-Bold.woff') format('woff'),
    url('/b_pub/fonts/Roboto-Bold.ttf') format('truetype'),
    url('/b_pub/fonts/Roboto-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url('/b_pub/fonts/Roboto-BoldItalic.eot');
    src: local('☺'),
    url('/b_pub/fonts/Roboto-BoldItalic.woff2') format('woff2'),
    url('/b_pub/fonts/Roboto-BoldItalic.woff') format('woff'),
    url('/b_pub/fonts/Roboto-BoldItalic.ttf') format('truetype'),
    url('/b_pub/fonts/Roboto-BoldItalic.svg') format('svg');
    font-weight: 700;
    font-style: italic;
  }
  
  html {
    width: 100%;
    height: 100%;
  }
  
  body {
    width: 100%;
    height: 100%;
  }
  
  body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    width: 100%;
    height: 100%;
  }
  
  .content-error__wrapper {
    height: 100vh;
  }
  .content-error__text {
    color: #354a5a;
    font-family: 'Roboto' !important;
    h1 {
      font-size: 6rem;
    }
    p {
      font-size: 20px;
    }
  }