{
"ORGANISATION_NAME":"${ORGANISATION_NAME}",
"ORGANSATION_DOMAIN":"${ORGANSATION_DOMAIN}",
"ENABLE_ROCKETCHAT":${ENABLE_ROCKETCHAT},
"ENABLE_EXT_ROCKETCHAT":${ENABLE_EXT_ROCKETCHAT},
"ENABLE_BOOKSTACK":${ENABLE_BOOKSTACK},
"ENABLE_EXT_BOOKSTACK":${ENABLE_EXT_BOOKSTACK},
"ENABLE_ELEXIS_SERVER":${ENABLE_ELEXIS_SERVER},
"ENABLE_NEXTCLOUD":${ENABLE_NEXTCLOUD},
"ENABLE_EXT_NEXTCLOUD":${ENABLE_EXT_NEXTCLOUD},
"ENABLE_SOLR":${ENABLE_SOLR},
"ENABLE_OCRMYPDF":${ENABLE_OCRMYPDF}
}
