EE_VERSION=${EE_VERSION}
ORGANISATION_NAME=${ORGANISATION_NAME}
ORGANISATION_BASE_DN=${ORGANISATION_BASE_DN}
LDAP_READONLY_USER_USERNAME=${LDAP_READONLY_USER_USERNAME}
LDAP_READONLY_USER_PASSWORD=${LDAP_READONLY_USER_PASSWORD}
ENABLE_ROCKETCHAT=${ENABLE_ROCKETCHAT}
ENABLE_BOOKSTACK=${ENABLE_BOOKSTACK}