/* 04.07 styles */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.login-pf-page {
    padding-bottom: 150px;
    padding-top: 0;
}

.login-pf body {
    background:#fff;
    background-size: cover;
    min-height: 100%;
    font-family: 'Roboto';
}

div.login-pf-page .login-pf-page-header{
    margin-bottom: 150px;
    width: 100%;
    max-width: 100%;
    height: 86px;
    background: #F2F2F2;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

#kc-header-wrapper {
    background-image: url('../img/ee-logo-2x.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 42px;
    width: 123px;
    color: transparent;
}

.login-pf-page .card-pf {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    padding: 40px 32px 60px;
    width: calc(100% - 30px);
    max-width: 600px;
    margin: 0 auto;
}

.login-pf-page .login-pf-header {
    margin: 0;
    margin-bottom: 50px;
}

.login-pf-page .login-pf-header h1 {
    margin: 0;
    content: "Log In";
    color: #A6A6A6;
    font-size: 38px;
    line-height: 1.25;
    font-family: 'Roboto';
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: #929292;
}

.login-pf-page .form-control {
    background: #F6F6F6 ;
    border: 1px solid #C4C4C4;
    box-sizing: border-box ;
    border-radius: 29px;
    padding: 10px 20px;
    height: 36px;
    font-family: 'Roboto';
    font-weight: 700;
    color: #929292;
    font-size: 14px;
}

.login-pf-page .btn-primary {
    position: relative;
    width: 100%;
    max-width: 240px;
    height: 48px;
    background: linear-gradient(0deg, #007BFF, #007BFF);
    border-radius: 24px;
    color: transparent;
    margin: 0 auto;
    border-color: transparent;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-bottom: 0;
    outline: none;
    border: 1px solid transparent;
}

.login-pf-page .btn-primary:hover {
    color: #007BFF;
    background: #E9F4FF;
    border: 1px solid #007BFF;
}
.login-pf-page .login-pf-signup {
    font-size: 15px;
    color: #929292;
}

.login-pf-page .login-pf-signup a {
    margin-left: 5px;
    color: #007BFF;
}

.alert {
    color: #929292;
    font-weight: 700;
    font-family: 'Roboto';
}

.form-horizontal .control-label {
    margin-bottom: 5px;
}

.has-error .control-label {
    color: #FF0046;
}

.has-error .form-control {
    border-color: #FF0046;
}

.form-horizontal .control-label {
    text-align: left;
}
