version: '3'

services:

  bookstack:
    image: marcode79/bookstack:21.11.3-ee
    volumes:
     - bookstack_storage_uploads:/var/www/bookstack/storage/uploads
    expose:
     - 8080
    networks:
      - backend
    environment:
      - DB_HOST="$RDBMS_HOST:$RDBMS_PORT"
      - DB_DATABASE="$RDBMS_BOOKSTACK_DATABASE"
      - DB_USERNAME="$RDBMS_BOOKSTACK_USERNAME"
      - DB_PASSWORD="$RDBMS_BOOKSTACK_PASSWORD"
      - APP_URL="https://$EE_HOSTNAME/bookstack"
      - APP_LANG=de # USED?
      - APP_AUTO_LANG_PUBLIC=false # USED?
      - MAIL_DRIVER=smtp
      - MAIL_HOST="$EE_HOST_INTERNAL_IP"
      - MAIL_PORT=25
      - MAIL_FROM="bookstack@$EE_HOSTNAME"
      - STORAGE_TYPE=local_secure
      - APP_VIEWS_BOOKS=grid
      - AUTH_METHOD=saml2
      - SAML2_NAME=Elexis-Environment
      - SAML2_IDP_ENTITYID=https://$EE_HOSTNAME/keycloak/auth/realms/ElexisEnvironment/protocol/saml/descriptor
      - SAML2_AUTOLOAD_METADATA=true
      - SAML2_EXTERNAL_ID_ATTRIBUTE=username
      - SAML2_DISPLAY_NAME_ATTRIBUTES=cn
      - SAML2_USER_TO_GROUPS=true
      - SAML2_GROUP_ATTRIBUTE=Role
      - SAML2_REMOVE_FROM_GROUPS=true
      - SAML2_AUTOLOGIN=true
    extra_hosts:
      - ${EE_HOSTNAME}:${EE_HOST_INTERNAL_IP}

volumes:
  bookstack_storage_uploads: