version: '3'

services:

  ee-config:
    build: ../ee-util
    command: /ee_start_setup.sh
    networks:
      - backend
      - myelexis_bridge
    cap_add:
      - NET_ADMIN
    depends_on:
        - keycloak
    environment:
      - EE_HOSTNAME
      - EE_HOST_INTERNAL_IP
      - ADMIN_USERNAME
      - ADMIN_PASSWORD
      - ORGANISATION_NAME
      - ORGANSATION_DOMAIN
      - ORGANISATION_BASE_DN
      - RDBMS_ELEXIS_USERNAME
      - RDBMS_ELEXIS_DATABASE
      - RDBMS_ELEXIS_PASSWORD
      - RDBMS_BOOKSTACK_USERNAME
      - RDBMS_BOOKSTACK_PASSWORD
      - RDBMS_BOOKSTACK_DATABASE
      - RDBMS_ELEXISWEB_DATABASE
      - RDBMS_ELEXISWEB_USERNAME
      - RDBMS_ELEXISWEB_PASSWORD
      - RDBMS_HOST
      - RDBMS_PORT
      - ENABLE_ELEXIS_SERVER
      - ENABLE_ELEXIS_RCP
      - ENABLE_ROCKETCHAT
      - ENABLE_BOOKSTACK
      - ENABLE_NEXTCLOUD
      - ENABLE_ELEXIS_WEB
      - ENABLE_SOLR
      - ENABLE_3RDPARTY_HEUREKA
      - X_EE_SITE_UUID
      - X_EE_ELEXIS_SERVER_CLIENT_SECRET
      - X_EE_ELEXIS_WEB_API_CLIENT_SECRET
      - X_EE_SOLR_ELEXIS_SERVER_PASSWORD