services:
  ee-config:
    build: ../ee-util
    command: /ee_start_setup.sh
    networks:
      - backend
      - myelexis_bridge
    cap_add:
      - NET_ADMIN
    volumes:
      - ../../site/:/site/
    depends_on:
      keycloak:
        condition: service_healthy
    environment:
      - EE_HOSTNAME
      - EE_HOST_INTERNAL_IP
      - ADMIN_USERNAME
      - ADMIN_PASSWORD
      - ORGANISATION_NAME
      - ORGANSATION_DOMAIN
      - ORGANISATION_BASE_DN
      - RDBMS_ELEXIS_USERNAME
      - RDBMS_ELEXIS_DATABASE
      - RDBMS_ELEXIS_PASSWORD
      - RDBMS_ELEXIS_HOST
      - RDBMS_ELEXIS_PORT
      - RDBMS_ELEXIS_TYPE
      - RDBMS_BOOKSTACK_USERNAME
      - RDBMS_BOOKSTACK_PASSWORD
      - RDBMS_BOOKSTACK_DATABASE
      - RDBMS_ELEXISWEB_DATABASE
      - RDBMS_ELEXISWEB_USERNAME
      - RDBMS_ELEXISWEB_PASSWORD
      - RDBMS_NEXTCLOUD_DATABASE
      - RDBMS_NEXTCLOUD_USERNAME
      - RDBMS_NEXTCLOUD_PASSWORD
      - RDBMS_HOST
      - RDBMS_PORT
      - RDBMS_TYPE
      - S3_HOST
      - S3_PORT
      - X_EE_S3_BUCKET_NAME
      - X_EE_S3_ACCESS_KEY_ID
      - X_EE_S3_ACCESS_KEY_SECRET
      - MATRIX_S3_LIKE_SERVICE_ENDPOINT_URL=${MATRIX_S3_LIKE_SERVICE_ENDPOINT_URL:-https://$S3_HOST:$S3_PORT}
      - MATRIX_S3_BUCKET_NAME
      - MATRIX_S3_ACCESS_KEY_ID
      - MATRIX_S3_ACCESS_KEY_SECRET
      - NEXTCLOUD_S3_BUCKET_NAME
      - NEXTCLOUD_S3_ACCESS_KEY_ID
      - NEXTCLOUD_S3_ACCESS_KEY_SECRET
      - ENABLE_ELEXIS_SERVER
      - ENABLE_ELEXIS_RCP
      - ENABLE_BOOKSTACK
      - ENABLE_NEXTCLOUD
      - ENABLE_ELEXIS_WEB
      - ENABLE_SOLR
      - ENABLE_3RDPARTY_HEUREKA
      - ENABLE_GUACAMOLE
      - ENABLE_MATRIX
      - ENABLE_MATRIX_FEDERATION
      - ELEXIS_SERVER_CLIENT_SECRET
      - ELEXIS_WEB_API_CLIENT_SECRET
      - OAUTH2_PROXY_CLIENT_SECRET
      - NEXTCLOUD_CLIENT_SECRET
      - SYNAPSE_CLIENT_SECRET
      - HEUREKA_3RDPARTY_CLIENT_SECRET
      - ELEXIS_RCP_CLIENT_SECRET
      - X_EE_SITE_UUID
      - X_EE_SOLR_ELEXIS_SERVER_PASSWORD