version: '3'

services:

  #php-fpm
  elexis-web-api:
    image: gitlab.medelexis.ch:4567/elexis-web/web-docker/api:develop
    volumes:
      - elexis-web-api_php:/www
    depends_on:
      - keycloak
      - elexis-server
    networks:
      - backend
    environment:
      - APP_NAME="Lumen"
      - APP_ENV="local"
      - APP_DEBUG=true
      - APP_URL=https://$EE_HOSTNAME/api/elexisweb/
      - FORCE_HTTPS=true
      - DB_CONNECTION="mysql"
      - DB_HOST=$RDBMS_HOST
      - DB_PORT=$RDBMS_PORT
      - DB_DATABASE=$RDBMS_ELEXISWEB_DATABASE
      - DB_USERNAME=$RDBMS_ELEXISWEB_USERNAME
      - DB_PASSWORD=$RDBMS_ELEXISWEB_PASSWORD
      - FHIR_API_URL=https://$EE_HOSTNAME/fhir
      - SAML2_AUTOLOAD_FROM_METADATA=false
      - SAML2_IDP_ENTITYID=https://$EE_HOSTNAME/keycloak/auth/realms/ElexisEnvironment/protocol/saml/descriptor
      - SAML2_IDP_SSO_URL=https://$EE_HOSTNAME/keycloak/auth/realms/ElexisEnvironment/protocol/saml
      - SAML2_IDP_SLO_URL=https://$EE_HOSTNAME/keycloak/auth/realms/ElexisEnvironment/protocol/sa
      - SAML2_SP_ENTITYID=https://$EE_HOSTNAME/api/elexisweb/saml/metadata
      - SAML2_SP_ACS_URL=https://$EE_HOSTNAME/api/elexisweb/saml/acs
      - SAML2_SP_SLS_URL=https://$EE_HOSTNAME/api/elexisweb/saml/sls
      - SAML2_LOGOUT_ROUTE=/
      - SAML2_LOGIN_ROUTE=/
      - FHIR_DISABLE_SSL_VERIFY=true # remove in production

  elexis-web-api-nginx:
    image: nginx:1.20-alpine
    depends_on:
      - elexis-web-api
    working_dir: /www
    expose:
      - 3005
    volumes:
      - elexis-web-api_php:/www
      - ./assets/elexisweb/etc/nginx:/etc/nginx/conf.d:ro
    networks:
      - backend

  elexis-web-app:
    image: gitlab.medelexis.ch:4567/elexis-web/web-docker/app:develop
    expose: 
      - 3004
    networks:
      - backend
    environment:
      - REACT_APP_API_FHIR_URL=https://$EE_HOSTNAME/api/elexisweb/fhir/
      - REACT_APP_API_URL=https://$EE_HOSTNAME/api/elexisweb/
      - REACT_APP_TITLE="Medelexis AG"
      - REACT_APP_CALENDAR_KEY="0126618009-fcs-1635315444"
      - PUBLIC_URL=/elexisweb/
      - REACT_APP_AXIOS_LOG=true

volumes:
    # for FPM share usage - see web_nextcloud.yml
    elexis-web-api_php: