services:

  # KeyCloak
  # https://www.keycloak.org/server/all-config
  # https://www.keycloak.org/server/reverseproxy
  keycloak: 
    image: quay.io/keycloak/keycloak:23.0
    networks:
      - backend
    expose:
      - 8080
    command:
      - start
    volumes:
      - ./assets/keycloak/providers:/opt/keycloak/providers
    environment:
      - KC_DB=$RDBMS_TYPE
      - KC_DB_URL_HOST=$RDBMS_HOST
      - KC_DB_URL_PORT=$RDBMS_PORT
      - KC_DB_URL_DATABASE=$RDBMS_KEYCLOAK_DATABASE
      - KC_DB_URL_PROPERTIES=?$RDBMS_KEYCLOAK_JDBC_PARAMETER_STRING
      - KC_DB_USERNAME=$RDBMS_KEYCLOAK_USERNAME
      - KC_DB_PASSWORD=$RDBMS_KEYCLOAK_PASSWORD
      - KC_HOSTNAME=$EE_HOSTNAME
      - KEYCLOAK_ADMIN=KeycloakAdmin # Fallback local admin
      - KEYCLOAK_ADMIN_PASSWORD=$ADMIN_PASSWORD
      - KC_PROXY=edge
      - KC_HTTP_RELATIVE_PATH=/keycloak/auth
      - KC_HEALTH_ENABLED=true
    mem_limit: 2G
    memswap_limit: 2G
    healthcheck:
      test: ['CMD-SHELL', '[ -f /tmp/HealthCheck.java ] || echo "public class HealthCheck { public static void main(String[] args) throws java.lang.Throwable { System.exit(java.net.HttpURLConnection.HTTP_OK == ((java.net.HttpURLConnection)new java.net.URL(args[0]).openConnection()).getResponseCode() ? 0 : 1); } }" > /tmp/HealthCheck.java && java /tmp/HealthCheck.java http://localhost:8080/keycloak/auth/health/live']
      interval: 30s
      timeout: 5s
      retries: 30