services:

  # Synapse Matrix server, requires postgres database
  #   Database is initialized during ./ee setup configure
  #   Configuration file homeserver.yaml is written during startup 
  synapse:
    build: ../synapse
    security_opt:
      - no-new-privileges:true
    expose:
      - 8008
    volumes:
      - synapse_media_store:/data/media_store
      - ../../site/matrix/synapse/data/:/site/data/
      - ../../site/matrix/synapse/homeserver.yaml:/data/homeserver.yaml:ro
    networks:
      - backend
    depends_on:
      ee-config: 
        condition: service_completed_successfully
    healthcheck:
      test: ["CMD", "curl", "-fSs", "http://localhost:8008/health"]
      interval: 15s
      timeout: 5s
      retries: 3
      start_period: 5s
    environment:
      - SYNAPSE_CONFIG_PATH=/data/homeserver.yaml
      - SYNAPSE_SERVER_NAME=${EE_HOSTNAME}
      - SYNAPSE_REPORT_STATS=yes
      - TZ="Europe/Zurich"
    mem_limit: 1G
    memswap_limit: 1G

volumes:
  synapse_media_store: