version: '3'
# https://hub.docker.com/_/nextcloud

services:
    nextcloud:
        build: ../nextcloud
        volumes:
            - nextcloud_html:/var/www/html
            - nextcloud_data:/var/www/html/data
            - nextcloud_php_socket:/var/run/php-fpm-sock
        networks:
            - backend
        environment:
            - EE_HOSTNAME
            - ORGANISATION_NAME
            - MYSQL_DATABASE=$RDBMS_NEXTCLOUD_DATABASE
            - MYSQL_USER=$RDBMS_NEXTCLOUD_USERNAME
            - MYSQL_PASSWORD=$RDBMS_NEXTCLOUD_PASSWORD
            - MYSQL_HOST=$RDBMS_HOST
            - NEXTCLOUD_ADMIN_USER=NextcloudAdmin # must be different to $ADMIN_USERNAME, else blocks this account
            - NEXTCLOUD_ADMIN_PASSWORD=$ADMIN_PASSWORD
            - NEXTCLOUD_TRUSTED_DOMAINS=$EE_HOSTNAME
            - OBJECTSTORE_S3_HOST=$NEXTCLOUD_S3_STORAGE_HOSTNAME
            - OBJECTSTORE_S3_BUCKET=$NEXTCLOUD_S3_STORAGE_BUCKETNAME
            - OBJECTSTORE_S3_KEY=$NEXTCLOUD_S3_STORAGE_KEY
            - OBJECTSTORE_S3_SECRET=$NEXTCLOUD_S3_STORAGE_SECRET
            - OBJECTSTORE_S3_OBJECT_PREFIX=nc_ # must not be urn:oid: which cannot be stored on NTFS
            - OBJECTSTORE_S3_USEPATH_STYLE=true
            - OBJECTSTORE_S3_LEGACYAUTH=true
            - OBJECTSTORE_S3_PORT=9000
            - OBJECTSTORE_S3_SSL=true

    web:
        volumes:
            - nextcloud_html:/var/www/html/cloud:ro
            - nextcloud_php_socket:/var/run/php-fpm-sock

# TODO http://netshare.containx.io/docs/cifs
volumes:
    nextcloud_html:
    nextcloud_data:
    nextcloud_php_socket:
