services:
  ocrmypdf:
    image: jbarlow83/ocrmypdf:v16.3.1
    user: "1001:1001"
    entrypoint: ["python3", "webservice.py"]
    networks:
      - backend
    depends_on:
      keycloak:
        condition: service_healthy
    mem_limit: 2G
    memswap_limit: 2G
    expose:
      - 5000