version: '3'

services:

  rocketchat:
    image: rocket.chat:3.18
    command: bash -c 'for i in `seq 1 30`; do node main.js && s=$$? && break || s=$$?; echo "Tried $$i times. Waiting 5 secs..."; sleep 5; done; (exit $$s)'
    restart: unless-stopped
    volumes:
      - rocketchat_uploads:/app/uploads
    networks:
      - backend
    environment:
      - ADMIN_USERNAME=RocketChatAdmin # must be different to $ADMIN_USERNAME, else blocks this account
      - ADMIN_PASS=$ADMIN_PASSWORD
      - ADMIN_EMAIL
      - MONGO_URL=mongodb://mongo:27017/rocketchat
      - MONGO_OPLOG_URL=mongodb://mongo:27017/local
      - ROOT_URL=https://${EE_HOSTNAME}/chat/
      - Accounts_UseDNSDomainCheck=true
      - Organization_Type=enterprise
      - Server_Type=privateTeam
      - Industry=healthcarePharmaceutical
      - Show_Setup_Wizard=completed
      - FileUpload_Storage_Type=FileSystem
      - FileUpload_FileSystemPath=/app/uploads
      #- NODE_TLS_REJECT_UNAUTHORIZED=0 # development only
    depends_on:
      - mongo
    expose:
      - 3000

  # Mongo NoSQL database
  # used by: rocketchat
  mongo:
    image: mongo:3.6
    restart: unless-stopped
    networks:
      - backend
    volumes:
     - mongo_data:/data/db
    command: mongod --smallfiles --oplogSize 128 --replSet rs0 --storageEngine=mmapv1

  # this container's job is just run the command to initialize the replica set.
  # it will run the command and remove himself (it will not stay running)
  mongo-init-replica:
    image: mongo:3.6
    networks:
      - backend
    command: 'bash -c "for i in `seq 1 30`; do mongo mongo/rocketchat --eval \"rs.initiate({ _id: ''rs0'', members: [ { _id: 0, host: ''localhost:27017'' } ]})\" && s=$$? && break || s=$$?; echo \"Tried $$i times. Waiting 5 secs...\"; sleep 5; done; (exit $$s)"'
    depends_on:
      - mongo

volumes:
  mongo_data:
  rocketchat_uploads: