version: '3'

services:
    solr:
        image: solr:9.4
        expose:
            - 8983
        networks:
            - backend
        depends_on:
          keycloak:
            condition: service_healthy
        volumes:
            - ./assets/solr/bin/solr-ee-startup:/opt/solr/docker/scripts/solr-ee-startup:ro
            - ./assets/solr/bin/envsubst:/usr/local/bin/envsubst:ro
            - ./assets/solr/template/security.json.template:/template/security.json.template:ro
            - ./assets/solr/configsets/el-encounters:/opt/solr/server/solr/configsets/el-encounters:ro
            - ./assets/solr/configsets/el-letters:/opt/solr/server/solr/configsets/el-letters:ro
            - ./assets/solr/configsets/el-documents:/opt/solr/server/solr/configsets/el-documents:ro
            - solr_data:/var/solr
        command:
            - solr-ee-startup
        environment:
            - SOLR_MODULES=jwt-auth
            - EE_HOSTNAME
            - ORGANISATION_NAME
            - X_EE_SOLR_ADMIN_PASSWORD_HASH
        mem_limit: 2G
        memswap_limit: 2G

volumes:
    solr_data: